.header {
  background-color: $white-color;
  color: $black-color;
  border-bottom: 1px solid #ececec;
  transition: color 250ms $timing;
}

.header a{
  transition: color 250ms $timing;
  &:hover,
  &:focus {
  color: $accent-color;
}
}

.header-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

 &:not(:last-child) {
  margin-right: 50px;
}
}
.addres__item {
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  &:first-child {
  margin-right: 50px;
}
}

.addres {
  display: flex;
  margin-left: auto;
}



.site-nav__item--active {
  position: relative;
  color: $accent-color;

&::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}
}

.addres__icon {
  margin-right: 10px;
  fill: $text-color;
  transition: fill 250ms $timing;

.addres__item & {
  transition: fill 250ms $timing;
}

.addres__item:hover &,
.addres__item:focus & 
{
  fill: $accent-color;
}}