
.form-subscription {
    padding-top: 72px;
    padding-left: 93px;
  }
  
  .form-subscription__title 
  {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
  
  
  .subscription {
    display: flex;
    margin-left: auto;
  }
  
  .form-subscription__input{
    width: 358px;
    height: 50px;
    padding: 15px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $bacbackground-color-dark;
  }
  
  .page-footer__btn {
    display: flex;
    align-items: center;
  }
  
  .btn__icon {
    margin-left: 10px;
  }